h2{
    color: white;
}


    .gallery-img {
      padding: 5px;
      max-width: 100%;
      height: auto;
    }
    

    /* global styles.css or component-specific navbar.component.css */
.col-8-content {
  background-color: rgb(179, 179, 179);
  padding: 10px;
  height: auto;
}

.col-2-content {
  background-color: rgb(179, 179, 179);
  padding: 10px;
}

